<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card-div">
<div class="column">
    <div class="card">
        <h3 class="card-heading">Frameworks available</h3>
        <button class="btn" (click)="frameworksTaken()">Spring</button>
        Choose your framework : <input type="text" id="userInput" class="para">
        
        
        <!--<button class="btn" *ngFor="let module of this.modules" (click)="frameworksTaken()">{{module}}</button>-->
        <!--<button class="btn" (click)="frameworksTaken(Laravel)">Laravel</button>
        <button class="btn" (click)="frameworksTaken(Django)">Django</button>
        <button class="btn" (click)="frameworksTaken(Flask)">Flask</button>-->
         <!--<p class="para">choose your framework</p>-->
        
    </div>
</div>
</div>
