* {
    box-sizing: border-box;
  }
  .column {
    float: left;
    width: 33%;
    padding: 0 10px; 
    background-color:rgba(0, 0, 0, 0.815);
  }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    }
    
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #f1f1f1;
height: 350px;

} 

.card-heading{
  font-family: cursive  ;
  font-size: 30px;
  color:grayscale($color: #00000081)


}

.about-content{
  //font-family: 'Times New Roman', Times, serif;
  font-family: cursive;
  font-size:20px;
  text-align: justify;
}

