
<div class="column">
    <div class="card">
        <h3 class="card-heading">About Learning Platform</h3>
        <img src="../../../../assets/images.jpeg">
        <div class="about-content">
            <!--<div style="text-align: center;">Learning Platform</div>-->
            <div>Primarily aimed for students and freshers who have joined their first job.It allows you to learn and practice programming languages, as well as learn new frameworks which u
                tilize a particular 
                programming language; for example - Laravel written in PHP, Django  in Python, 
                Spring in Java etc </div>
       
        </div>
        
    </div>
</div>    
