body {
    height: 93.6vh;
    background-image: url('../../../assets/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.login-form-div {
    background-color: white;
    border-radius: 3%;
    height: 30%;
    width: 12%;
    position: absolute;
}
.login-box-head {
    border-bottom: 2px solid black;
    padding: 0 0 0 10px;
}
.login-box-login {
 padding: 0 0 0 10px;
}