<body class="bg-img">
    <div class="login-form-div">
        <div class="login-box-head">
            <p>LOGIN</p>
        </div>
        <div class="login-box-login">
            <form>
                <mat-form-field>
                    <input matInput placeholder="Username/Email">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput type="password" placeholder="password">
                </mat-form-field>
                <button mat-raised-button color="primary">SUBMIT</button>
            </form>
        </div>
    </div>
</body>